.App {
  background-color: black;
  font-family: "Press Start 2P";
}
.maintext {
  color: white;
  font-size: 17px;
}
.info {
  margin: 50px;
}
@media (max-width: 800px) {
  .maintext {
    text-align: center !important;
    display: inline;
  }
  .video {
    display: none;
  }
}
