.foot {
  padding: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
  position: relative;
  overflow: hidden;
  background-color: #151515;
}

.video-player {
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  object-fit: cover;
}
